<div class="p-6">
    <h1 class="text-3xl font-bold text-black underline text-center">
        Welcome to the CRM Racing Team Website!
    </h1>
    <p class="text-xl font-semibold text-black p-6 text-center">
        This is a website for the CRM Racing Team. It is a team that races on MX VS ATV Legends via Xbox. Some of our members have been racing since Motocross Madness on PC in 1998. We are a team that is dedicated to having fun and racing clean. 
    </p>

</div>
