<!-- app/views/member_portals/show.html.erb -->

<%= render 'member_portals/member_portals_breadcrumbs' %>

<div>
    <h1 class="text-2xl font-bold underline text-gray-700 text-center pb-4">Member Portal</h1>
    <p class="text-center">Welcome to the Member Portal! Here you can view things related to your account.</p>
    <p class="text-center">Examples include:</p>
    <ul class="list-disc list-inside text-center">
        <li>View your Fast Lap times for each track</li>
        <li>Add a new Fast Lap time</li>
        <li>View upcoming tournaments</li>
        <li>View your tournament history and results</li>
        <li>Register for upcoming tournaments</li>
        <li>View your tournament registrations</li>
    </ul>
</div>

